# IDE and editor files
.vscode

# Hidden files
*.hidden

# Docker and configuration
docker-compose.yml
docker-compose-test.yml
/config.toml
/config-test.toml

# Build artifacts
/target

# Credentials
gcp.json
